<ion-view data-comp-id="ionic-view.1">
    <ion-header-bar align-title="center" class="bar-dark"
                    data-comp-id="header-bar.1">
        <h1 class="title" data-comp-id="text.1">Menu</h1>
    </ion-header-bar>
    <ion-content class="has-header" data-comp-id="ionic-content.1">
        <ion-list data-comp-id="ionic-list.1">
            <div class="item ng-hide" ng-show="hasCordova || isCanvas" data-comp-id="item.2" ng-click="app.getAppSettings(true)">
                <div data-comp-id="text.3">
                    Settings
                </div>
            </div>
            <div class="item" data-comp-id="item.1" ng-click="app.logout()">
                <div data-comp-id="text.2">
                    Logout
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
