<ion-view data-comp-id="ionic-view.1">
    <ion-header-bar class=" bar-positive" data-comp-id="header-bar.1"
        ng-class="headerClass">
        <div class="buttons">
            <button class="button button-clear" data-comp-id="button.1"
                ng-click="__cancelCallback()">
                Cancel
            </button>
        </div>
        <h1 class="title" data-comp-id="text.1">{{__modalTitle ? __modalTitle : 'Multi Select'}}</h1>
        <div class="buttons">
            <button class="button button-clear icon" data-comp-id="button.2"
                ng-click="__multiselectCallback()">Done</button>
        </div>
    </ion-header-bar>
    <ion-content data-comp-id="ionic-content.1">
        <ion-checkbox class="" data-comp-id="checkbox.1" ng-model="item.selected"
            ng-repeat="item in __multiselectModalData.options" style="font-size:14px">
            {{item.label || '&nbsp;'}}
        </ion-checkbox>
    </ion-content>
</ion-view>
